SECRET_KEY=django-insecure-0ymh6u14#vk66ad-jbptie4!yg-j34)vpalvw2t*e-=(^va)yx
DEBUG= True

AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secre_access_key_here
AWS_STORAGE_BUCKET_NAME=cybercomply-documents
AWS_REGION=ap-southeast-1
AWS_SHARED_REPORTS_BUCKET_NAME=cybercomply-shared-reports

EMAIL_HOST_USER=AKIAS5G5TCND26DMV2OJ
EMAIL_HOST_PASSWORD=BFJER4XZ55ZDcmLvqd0G7hs5d8Ttg8imkoh7xyXwLDid

BACKUP_DIR=./backups/dumps
BACKUP_INTERVAL_HOURS=24